# output-dir
output

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# DLL FILES
**.dll

#Other files
src/ToDo.h
src/Inspiration/**.h
src/Inspiration/**.cpp

# Directories
Inspiration